html {
  overflow-x: hidden; // used for book results overflowing...
}

.App {
  text-align: center;
  margin-top: 70px;
}

h1 {
  color: white !important;
}

.select-params {
  border: 1px solid black;
  padding: 6px;
  border-radius: 4px;
}

@media only screen and (max-width: 600px) {
  .App-header {
    background-size: contain;
  }

  .select-params {
    float: right;
  }
}

/* EVENT CARD */

.event-list-title {
  font-family: Poppins;
}

.outerDiv {
  text-align: left;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 8px;
  width: 65%;
  margin-bottom: 24px;
}

.innerDiv {
  text-align: left;
  background-color: #f4fcff;
  padding: 20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.eventTitleDiv {
  background-color: #daf5ff;
  height: 4rem;
  padding: 5px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 2px solid black;
}

.eventTitle {
  font-size: 20px;
  padding-left: 15px;
  color: #00445e;
}

.addressQueryStyle {
  color: #00445e;
  text-decoration: none;
}

.addressQueryStyle:hover {
  color: black;
  text-decoration: underline;
}

/* Mobile Responsiveness */

@media only screen and (max-width: 600px) {
  .outerDiv {
    width: 90%;
  }

  .eventTitle {
    font-size: 16px;
  }
}

/* EVENT CARD */

/* BOOKCARD */

.embedded-book-wrapper {
  margin: 40px;
  display: grid;
  grid-template-columns: 525px 525px;
  grid-gap: 30px;
  border-radius: 8px;
}

iframe {
  width: 525px;
  height: 525px;
}

.preview-link {
  color: white;
}

/* Bookshelves */

.bookshelfCard {
  margin: 0 auto;
  background-color: #444;
  text-align: left;
  color: #fff !important;

  h2,
  h4 {
    color: #fff !important;
  }

  border-radius: 5px;
  padding: 10px;
  font-size: 110%;
  overflow: hidden;
  background: grey;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 10px solid white;
}

.bookshelfCard:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.5);
}

.bookshelfIMG {
  width: 100px;
}

/* Bookshelves End */

/* Mobile Responsiveness */

@media only screen and (min-width: 767px) {
  .bookshelfCard {
    width: 320px;
  }
}

@media only screen and (max-width: 767px) {
  .bookshelfCard {
    width: 250px;
    padding: 8px;
    font-size: 100%;
    border: 5px solid white;
  }

  .bookshelfCard h2 {
    font-size: 100%;
  }

  .embedded-book-wrapper {
    margin: 2px;
    margin-top: 45px;
    display: grid;
    grid-template-columns: 375px;
    grid-gap: 30px;
    border-radius: 8px;
  }

  iframe {
    width: 365px;
    height: 365px;
  }
}

/* BOOKCARD */

/* NAVLINKS*/

.ant-menu {
  background: none;
}

.ant-menu-item {
  a {
    color: white !important;
  }
}

.menuBar {
  height: 55px;
  padding: 0 20px;
  overflow: auto;
  box-shadow: 0 0 30px #f3f1f1;
  background-image: url("./assets/booksHeader.jpg");
}

.menuCon {
  width: 100%;
  float: left;
  overflow-y: hidden;
}

.menuCon .ant-menu-item {
  padding: 0px 5px;
  font-size: 24px !important;
  background-color: rgba(0, 0, 0, 0.1);
  height: 55px;
}

.menuCon .ant-menu-submenu-title {
  padding: 10px 20px;
}

.menuCon .ant-menu-item a,
.menuCon .ant-menu-submenu-title a {
  padding: 10px 15px;
}

.menuCon .ant-menu-horizontal {
  border-bottom: none;
}

.menuCon .leftMenu {
  float: left;
  font-size: 135%;
}

.menuCon {
  float: right;
}

.barsMenu {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 8px;
  display: none;
  background: none;
}

.barsBtn {
  display: block;
  width: 20px;
  height: 2px;
  background: #1890ff;
  position: relative;
}

.barsBtn:after,
.barsBtn:before {
  content: attr(x);
  width: 20px;
  position: absolute;
  top: -6px;
  left: 0;
  height: 2px;
  background: #1890ff;
}

.barsBtn:after {
  top: auto;
  bottom: -6px;
}

.ant-drawer-body {
  padding: 0;
}

.ant-drawer-body .ant-menu-horizontal>.ant-menu-item,
.ant-drawer-body .ant-menu-horizontal>.ant-menu-submenu {
  display: inline-block;
  width: 100%;
}

.ant-drawer-body .ant-menu-horizontal {
  border-bottom: none;
}

.ant-drawer-body .ant-menu-horizontal>.ant-menu-item:hover {
  border-bottom-color: transparent;
}

.ant-menu-item-selected {
  border: 0px !important;
}

@media (max-width: 767px) {
  .barsMenu {
    display: inline-block;
  }

  .ant-menu-item {
    a {
      color: black !important;
    }
  }

  .ant-btn .barsMenu {
    background-color: rgba(141, 204, 255, 0.3);
  }

  .leftMenu {
    display: none;
  }

  .logo a {
    margin-left: -20px;
  }

  .menuCon .ant-menu-item,
  .menuCon .ant-menu-submenu-title {
    padding: 1px 20px;
  }

  .logo a {
    padding: 10px 20px;
  }
}

/* PoemOfDay*/
.poem-div {
  margin: 20px;
  font-family: Caladea, sans-serif;
  text-align: left;
  background: grey;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.4);
  width: 300px;
  color: white;
  border: 4px solid white;
  padding: 8px;
  border-radius: 6px;
}

.poem-title,
.poem-of-the-day {
  text-decoration: underline;
}

/* PoemOfDay*/

// BOOKSHELF API

ul.shelfList {
  width: 70%;
  text-align: left;
  padding: 0 25px;
}

li.shelf {
  list-style-type: none;
  font-family: Tahoma;
  font-size: 1.2em;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

li.shelf:hover .deleteShelfBtn {
  visibility: visible;
  opacity: 1;
}

label.shelfLabel {
  color: black;
}

input[placeholder] {
  font-size: 1.1em;
}

.container {
  width: 40%;
  height: 400px;
  position: relative;
  margin: 0 auto;
  border-radius: 5px;
}

.header {
  color: black;
  padding: 5px;
  text-align: center;
  font-family: Tahoma, sans-serif;
}

.inputContainer {
  padding: 15px;
}

.inputContainer .shelfInput {
  padding: 10px;
  width: 100%;
  border-radius: 25px;
  box-sizing: border-box;
}

.listWrapper {
  bottom: 50px;
  top: 160px;
  right: 0;
  left: 0;
  overflow: auto;
}

.deleteShelfBtn {
  float: right;
  color: red;
  background: rgba(0, 0, 0, 0);
  font-size: 20px;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 50%;
  padding: 10px 5px;
  visibility: hidden;
  opacity: 0;
  line-height: 0;
  margin-right: 5px;
  cursor: default;
}

// BOOKSHELF API
