.App {
  text-align: center;
}

/* Header */

.App-header {
  background-image: url('./assets/booksHeader.jpg');
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-shadow: 1.5px 1.5px #282c34;
}

.shelf-search-title {
  text-shadow: 3px 3px #282c34;
}

.quote-of-the-day {
  float: left;
  width: 50%;
  font-size: 17px;
  font-weight: bold;
  text-shadow: 1.5px 1.5px #282c34;
  font-family: Poppins, sans-serif;
}

/* Header End */

/* Search */

.search-area {
  margin-top: 12px;
}

/* Search End */