.header {
  font-family: Caladea, sans-serif;
}

.outer-card-row {
  text-align: left;
  margin: 20px;
  display: grid;
  grid-template-columns: 200px;
  grid-gap: 30px;
  border-radius: 4px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: rgb(100, 100, 100);
  color: white;
  float: left;
}

.amazon-button {
  background-color: #FF9900;
  border: none;
  color: #000000;
  padding: 10px 30px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.amazon-button:hover {
  background-color: rgb(240, 144, 1);
}

.bestseller-card {
  display: table-cell;
  width: 200px;
  height: 250px;
  font-family: Georgia;
}

h4 {
  margin-top: 0px;
}

.bestseller-rank {
  font-size: 60px;
}

.bestseller-title {
  text-decoration: underline;
  color: white;
}

.bestseller-title:hover {
  text-decoration-color: #282c34;
  font-style: italic;
}

.bestseller-blurb {
  font-size: 12px;
  font-weight: bold;
}