.header {
  font-family: Caladea, sans-serif;
  font-size: 30px;
}

.outer-card-row {
  text-align: left;
  margin: 20px;
  display: grid;
  grid-template-columns: 200px;
  grid-gap: 30px;
  border-radius: 4px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: rgb(100, 100, 100);
  color: white;
  float: left;
}

.amazon-button {
  background-color: #FF9900;
  border: none;
  color: #000000;
  padding: 10px 30px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.amazon-button:hover {
  background-color: rgb(240, 144, 1);
  color: white;
}

.bestseller-card {
  display: table-cell;
  width: 200px;
  height: 250px;
  font-family: Georgia;

  h5 {
    font-size: 16px;
    color: white;
    margin-bottom: 1.5em;
  }

  p {
    font-size: 13px;
  }
}

h4 {
  margin-top: 0px;
}

.bestseller-rank {
  font-size: 60px;
  color: white;
}

.bestseller-title {
  text-decoration: underline;
  color: white;
  font-size: 16px;
}

.bestseller-title:hover {
  text-decoration-color: #282c34;
  font-style: italic;
}

.bestseller-blurb {
  font-size: 12px;
  font-weight: bold;
}

/* Mobile Responsiveness */

@media only screen and (max-width: 600px) {
  .outer-card-row {
    grid-gap: 5px;
    grid-template-columns: 135px;
    margin-left: 8px;
    margin-right: 8px;
  }

  h1 {
    font-size: 20px;
    margin-bottom: 0px;
  }

  .bestseller-blurb {
    display: none;
  }

  .mobile-padding {
    padding-bottom: 0px;
  }

  .bestseller-card {
    display: table-cell;
    height: 200px;
    font-family: Georgia;
    padding: 0px;
  }

  .bestseller-card p {
    display: none;
  }

  .bestseller-rank {
    font-size: 40px;
  }

  .bestseller-title {
    font-size: 14px;
  }
}
