.navlinks {
  margin-bottom: 16px;
}

.navlinks a {
  color: white;
  padding: 8px;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
}

.navlinks a:hover {
  color: rgb(240, 240, 240);
}

.underbar {
  height: 5px;
  left: 40%;
  top: 240px;
  background: #282c34;
  position: absolute;
  -webkit-transition: 0.5s ease;
}

.navlinks li {
  list-style: none;
  float: left;
  -webkit-transition: 0.5s ease;

  &:nth-of-type(1):hover ~ .underbar {
    left: 35.3%;
    width: 86.5px;
  }

  &:nth-of-type(2):hover ~ .underbar {
    left: 40.7%;
    width: 215.5px;
  }

  &:nth-of-type(3):hover ~ .underbar {
    left: 54.5%;
    width: 103px;
  }

  &:nth-of-type(4):hover ~ .underbar {
    left: 61%;
    width: 96.5px;
  }

  cursor: pointer;
}

// Mobile Responsiveness
@media only screen and (max-width: 600px) {
  .navlinks {
    margin-right: 35px;
    font-size: 13px;
  }

  .navlinks a {
    padding: 4px;
  }

  .underbar {
    height: 3px;
    left: 35%;
    top: 102px;
    position: absolute;
    -webkit-transition: 0.5s ease;
    background: rgb(230, 230, 230);
  }

  .navlinks li {
    list-style: none;
    float: left;
    -webkit-transition: 0.5s ease;

    &:nth-of-type(1):hover ~ .underbar {
      left: 17%;
      width: 43px;
    }

    &:nth-of-type(2):hover ~ .underbar {
      left: 28%;
      width: 113px;
    }

    &:nth-of-type(3):hover ~ .underbar {
      left: 57.6%;
      width: 54px;
    }

    &:nth-of-type(4):hover ~ .underbar {
      left: 71.5%;
      width: 52.5px;
    }

    cursor: pointer;
  }
}
