.navlinks {
  margin-bottom: 12px;
}

.navlinks a {
  color: white;
  padding: 8px;
  text-decoration: none;
}

.navlinks a:hover {
  color: rgb(240, 240, 240);
}

.underbar {
  height: 5px;
  left: 40%;
  top: 322px;
  position: absolute;
  -webkit-transition: 0.5s ease;
}

.navlinks li {
  list-style: none;
  float: left;
  -webkit-transition: 0.5s ease;

  &:nth-of-type(1):hover~.underbar {
    left: 35%;
    width: 91px;
    background: rgb(179, 125, 125);
  }

  &:nth-of-type(2):hover~.underbar {
    left: 40.75%;
    width: 214px;
    background: rgb(179, 125, 125);
  }

  &:nth-of-type(3):hover~.underbar {
    left: 54.5%;
    width: 103px;
    background: rgb(179, 125, 125);
  }

  &:nth-of-type(4):hover~.underbar {
    left: 61%;
    width: 100px;
    background: rgb(179, 125, 125);
  }

  cursor: pointer;
}

// Mobile Responsiveness
@media only screen and (max-width: 600px) {
  .navlinks {
    margin-right: 35px;
    font-size: 13px;
  }

  .navlinks a {
    padding: 4px;
  }

  .underbar {
    height: 3px;
    left: 35%;
    top: 102px;
    position: absolute;
    -webkit-transition: 0.5s ease;
  }

  .navlinks li {
    list-style: none;
    float: left;
    -webkit-transition: 0.5s ease;

    &:nth-of-type(1):hover~.underbar {
      left: 17%;
      width: 43px;
      background: rgb(230, 230, 230);
    }

    &:nth-of-type(2):hover~.underbar {
      left: 28%;
      width: 113px;
      background: rgb(230, 230, 230);
    }

    &:nth-of-type(3):hover~.underbar {
      left: 57.6%;
      width: 54px;
      background: rgb(230, 230, 230);
    }

    &:nth-of-type(4):hover~.underbar {
      left: 71.5%;
      width: 52.5px;
      background: rgb(230, 230, 230);
    }

    cursor: pointer;
  }
}