.navlinks {
  margin-bottom: 12px;
}

.navlinks a {
  color: white;
  padding: 8px;
  text-decoration: none;
}

.navlinks a:hover {
  color: rgb(240, 240, 240);
}

.underbar {
  height: 5px;
  left: 40%;
  top: 322px;
  position: absolute;
  -webkit-transition: 0.5s ease;
}

li {
  list-style: none;
  float: left;
  -webkit-transition: 0.5s ease;
  &:nth-of-type(1):hover ~ .underbar {
    left: 35%;
    width: 91px;
    background: rgb(179, 125, 125);
  }
  &:nth-of-type(2):hover ~ .underbar {
    left: 40.75%;
    width: 214px;
    background: rgb(179, 125, 125);
  }
  &:nth-of-type(3):hover ~ .underbar {
    left: 54.5%;
    width: 103px;
    background: rgb(179, 125, 125);
  }
  &:nth-of-type(4):hover ~ .underbar {
    left: 61%;
    width: 100px;
    background: rgb(179, 125, 125);
  }
  cursor: pointer;
}

// Mobile Responsiveness
@media only screen and (max-width: 600px) {
  .underbar {
    height: 5px;
    left: 40%;
    top: 414px;
    position: absolute;
    -webkit-transition: 0.5s ease;
  }

  li {
    list-style: none;
    float: left;
    -webkit-transition: 0.5s ease;
    &:nth-of-type(1):hover ~ .underbar {
      left: 12%;
      width: 70px;
      background: rgb(179, 125, 125);
    }
    &:nth-of-type(2):hover ~ .underbar {
      left: 26%;
      width: 178.5px;
      background: rgb(179, 125, 125);
    }
    &:nth-of-type(3):hover ~ .underbar {
      left: 62.2%;
      width: 85.5px;
      background: rgb(179, 125, 125);
    }
    &:nth-of-type(4):hover ~ .underbar {
      left: 79.25%;
      width: 90px;
      background: rgb(179, 125, 125);
    }
    cursor: pointer;
  }
}
